<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>628008874555-bdve4bfbvfvc8f4ca4ca0eadijha7tjt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628008874555-bdve4bfbvfvc8f4ca4ca0eadijha7tjt</string>
	<key>API_KEY</key>
	<string>AIzaSyBcV3H47W3Vje2hsHJb3r5mwgPL4Dn4Dok</string>
	<key>GCM_SENDER_ID</key>
	<string>628008874555</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BS.HSECIOS</string>
	<key>PROJECT_ID</key>
	<string>hsecmovil</string>
	<key>STORAGE_BUCKET</key>
	<string>hsecmovil.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628008874555:ios:f89cc5e1ebc62384</string>
	<key>DATABASE_URL</key>
	<string>https://hsecmovil.firebaseio.com</string>
</dict>
</plist>